{% load i18n %}
{% if suggestion_count %}
  <div class="alert-warning" role="status">
    <p>
      {% url 'applications:suggestion_list' as suggestions_url %}
      {% blocktranslate count counter=suggestion_count trimmed %}
        A plugin has suggested one thing that may have happened:
        <a href="{{ suggestions_url }}" class="font-medium underline">look at it</a>.
      {% plural %}
        Plugins have suggested {{ counter }} things that may have happened:
        <a href="{{ suggestions_url }}" class="font-medium underline">look at them</a>.
      {% endblocktranslate %}
    </p>
  </div>
{% endif %}
